
.input-width{
    width: 20%;
}
ul li i:first-child{
    color: rgb(6, 75, 28);
    opacity: 1;
    cursor: pointer;
}
ul li i:last-child{
    color: rgb(228, 51, 51);
    opacity: 1;
    cursor: pointer;
}

.checked{
    opacity: 0.45;
}